// Raw colour variables (generated names: https://coolors.co/776178-bfd75f-3680ad-404040-d1d1d1)
$oldlavender: #776178;
$dimgray: #6a526b;
$eggplant: #614b62;
$junebud: #bfd75f;
$steelblue: #3680ad;
$lapislazuli: #2274a5;
$bluesaphire: #1c5f88;
$blackolive: #404040;
$ghostwhite: #f8f8f8;
$lightgray: #d1d1d1;


$background: $junebud;
$background-alt: white;
$body-text: $blackolive;

$code-background: $ghostwhite;
$code-border-color: $lightgray;

$link: $lapislazuli;
$link--hover: $steelblue;
$link--visited: $dimgray;
$link--visited-hover: $oldlavender;

$nav-link: $bluesaphire;
$nav-link--hover: $lapislazuli;
$nav-link--visited: $eggplant;

$button-background: $link;
$button-background--hover: $link--hover;
$button-text: white;
