$background: rgb(191, 215, 95);
$background-alt: white;
$body-text: rgb(64, 64, 64);

$code-background: #f8f8f8;
$code-border-color: #d1d1d1;

$link: #2274a5;
$link--hover: #3680ad;
$link--visited: #6a526b;
$link--visited-hover: #776178;

$button-background: $link;
$button-background--hover: $link--hover;
$button-text: white;
