<meta name="keywords" content="michael, strutt, mstrutt, front-end, frontend, html, css, javascript" />

{{if(options.title)}}
  <meta property="og:title" content="{{title}} - MStrutt.co.uk">
{{/if}}
{{if(options.preview)}}
  <meta property="og:description" content="{{preview}}">
{{/if}}

{{if(options.image)}}
  <meta property="og:image" content="{{image}}">
  {{if(options.image_alt)}}
    <meta name="twitter:image:alt" content="{{image_alt}}">
  {{/if}}
  <meta name="twitter:card" content="summary_large_image">
{{/if}}

<meta property="og:site_name" content="MStrutt.co.uk">