@import '../colours';
@import '../vars';

.avatar {
  background-image: radial-gradient(ellipse at bottom, #{rgba($header-border, .45)}, transparent 70%);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  display: block;
  margin-bottom: $header-border-size * -1;
  margin-top: 1em;
  overflow: hidden;
  right: 0;

  &__src {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $bp-x-small) {
    bottom: 0;
    position: absolute;
    right: 50%;
    width: 65%;
  }

  @media (min-width: $bp-small) {
    right: 45%;
  }

  @media (min-width: $bp-small) {
    right: 42%;
  }
  
  @media (min-width: $bp-x-wide) {
    right: 50%;
    width: auto;
  }
}