@import '../colours';
@import '../vars';

.avatar {
    background-color: $background;
    border-radius: 50%;
    border: 10px solid $background-alt;
    box-shadow: 0 0 12px 4px $background;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    transition: transform $avatar-transition-duration $avatar-transition-easing;
    transform-origin: 0 50%;
    white-space: nowrap;
    width: 300px;
    will-change: transform;

    &__src {
        display: block;
        max-height: 100%;
        max-width: 100%;
        padding-top: (44/500*100%);
    }

    &--sticky {
        transform: translate(calc(-50vw + 50% + 1em), calc(50% + 1em)) scale(.25);
    }
}