@import '../colours';
@import '../vars';

.avatar {
  background-image: radial-gradient(ellipse at bottom, $header-border, transparent 70%);
  background-size: contain;
  display: block;
  margin-bottom: $header-border-size * -1;
  margin-top: 1em;
  overflow: hidden;
  right: 0;

  &__src {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: $bp-x-wide) {
    position: absolute;
    right: 50%;
    bottom: 0;
  }
}