.footer {
  padding-bottom: 2em;
  position: relative;
  text-align: center;

  &::before {
    @include fancy-border();
  }

  &__social {
    background-color: $background-alt;
    display: inline-flex !important;
    box-shadow: 0 0 0 10px $background-alt;
    margin-bottom: 1em;
  }
}
