@import '../colours';

.header {
  background-color: $header-background;
  border-bottom: $header-border-size solid $header-border;
  padding: $header-padding $header-padding 0;
  position: relative;
  text-align: center;

  &__tagline {
    font-size: 2.4rem;
  }
}
