@import '../colours';
@import '../vars';

.header {
  background-color: $header-background;
  border-bottom: $header-border-size solid $header-border;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: $header-padding $header-padding 0;
  text-align: center;
  
  @media (min-width: $bp-x-small) {
    position: relative;
    
    .social-links {
      justify-content: flex-end;
    }
  }

  @media (min-width: 510px) {
    padding-top: calc(30% - 80px);
  }

  // @media (min-width: $bp-small) {
  //   padding-top: 2em;
  // }
  
  @media (min-width: $bp-medium) {
    min-height: 430px;
    padding-top: 0;
  }

  &__inner {
    margin: 0 auto;
    max-width: $max-line-length;
    width: 100%;
    z-index: 1;
    
    @media (min-width: $bp-x-small) {
      padding-bottom: 1.5em;
      padding-left: 35%;
      text-align: right;
    }
    
    @media (min-width: $bp-large) {
      padding-left: $header-max-width * .35;
    }

    @media (min-width: $bp-x-wide) {
      max-width: $header-max-width;
    }
  }

  &__logo {
    background: #3E3E3E;
    border-radius: 50%;
    display: inline-block;
    font-size: 38px;
    height: $logo-size;
    left: $logo-spacing;
    line-height: $logo-size * 1.04;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: $logo-spacing * -1;
    transform: rotate(-7.5deg) scale(1.01);
    width: $logo-size;
    z-index: 2;
    
    &,
    &:visited,
    &:hover,
    &:visited:hover {
      color: #FFF;
    }

    @media (min-width: $bp-x-small) {
      top: ($logo-size - $logo-spacing) * -1;
    }

    @media (min-width: $bp-logo-move) {
      left: auto;
      right: $nav-link-size / 2;
      top: $logo-size / -2;
    }

    @media (min-width: $bp-nav-move) {
      position: static;
    }
  }

  &__tagline {
    font-size: 2.4rem;
  }
}
