@import '../colours';
@import '../vars';

.nav-bar {
  display: flex;
  padding-left: ($logo-size * 1.01) + ($logo-spacing * 2);
  width: 100%;

  @media (min-width: $bp-logo-move) {
    padding-left: $logo-spacing;
  }

  @media (min-width: $bp-nav-move) {
    flex-flow: column nowrap;
    margin-right: 18em;
    overflow: hidden;
    padding: 2px 0;
    position: absolute;
    right: 50%;
    top: 160px;
    width: 90px;
    z-index: 2;

    &::after {
      background-color: black;
      box-shadow: -1px 0 3px 1px $default-shadow-color;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    &--home {
      margin-right: 19em;
      top: 60px;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: $nav-link-size;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: $nav-link-size;

    &,
    &:visited {
      color: $nav-link;
    }

    &:focus,
    &:hover,
    &:visited:hover {
      color: $nav-link--hover;
    }

    @media (min-width: $bp-nav-move) {
      border-radius: 8px 0 0 8px;
      height: 90px;
      margin-bottom: 4px;
      margin-top: 4px;
      overflow: hidden;
      width: 90px;

      &,
      &:visited {
        background-color: $nav-link;
        color: #fff;
      }

      &:focus,
      &:hover,
      &:visited:hover {
        background-color: $nav-link--hover;
        color: #fff;
      }

      &--active {
        border-top-left-radius: 22px;
      }

      &--active::before {
        border: 8px solid #d6e9f5;
        border-radius: 0 0 8px 0;
        box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, .4);
        content: '';
        display: block;
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
      }
    }
  }

  &__link-text {
    display: block;
    font-size: 18px;
    text-align: center;
  }
}
