<div class="blog-list">
  <div class="body-copy">
    {{include('breadcrumbs')/}}
    {{if(options.posts.length === 0)}}
      <h2>No results</h2>
      <p>No blog posts found for this time period.</p>
    {{/if}}
  </div>
  {{each(options.posts)}}
    <article itemscope="" itemtype="http://schema.org/BlogPosting" class="blog-list__item h-entry body-copy">
      <header>
        <h2 class="blog-list__heading heading heading--beta p-name" itemprop="name"><a href="{{@this.url}}">{{@this.title}}</a></h2>
        <ul class="metadata u-unstyled-list">
          <li class="metadata__item">
            <svg class="metadata__icon" height="22" width="22">
              <title>Published on</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
            </svg>
            <time itemprop="datePublished" datetime="{{@this.date}}" class="dt-published">{{@this.date_formatted}}</time>
          </li>
          <li class="metadata__item">
            <svg class="metadata__icon" height="22" width="22">
              <title>Written by</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#author"></use>
            </svg>
            <span itemprop="author" class="p-author h-card">Michael Strutt</span>
          </li>
        </ul>
      </header>
      {{if(@this.preview)}}
      <span itemprop="articleBody" class="p-summary"><p>{{@this.preview}}</p></span>
      {{/if}}
      <footer>
        <a href="{{@this.url}}" class="read-more u-url">Read more <span class="u-visually-hidden">of "{{@this.title}}"</span></a>
      </footer>
    </article>
  {{/each}}
</div>
