<article itemscope="" itemtype="http://schema.org/BlogPosting" class="blog-post body-copy h-entry">
  <div itemprop="articleBody" class="e-content">
    <div class="blog-post__header">
      <ul class="metadata metadata--post u-unstyled-list u-nm">
        <li class="metadata__item">
          <svg class="metadata__icon" height="22" width="22">
            <title>Breadcrumbs</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bread"></use>
          </svg>
          {{include('breadcrumbs')/}}
        </li>
        {{if(options.date && options.date_formatted)}}
          <li class="metadata__item">
            <svg class="metadata__icon" height="22" width="22">
              <title>Published on</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
            </svg>
            <time itemprop="datePublished" datetime="{{date}}" class="dt-published">{{date_formatted}}</time>
          </li>
        {{/if}}
        {{if(options.reading_time)}}
          <li class="metadata__item">
            <svg class="metadata__icon" height="22" width="22">
              <title>Reading time</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timer"></use>
            </svg>
            <span>{{reading_time}}</span>
          </li>
        {{/if}}
        <li class="metadata__item">
          <svg class="metadata__icon" height="22" width="22">
            <title>Written by</title>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#author"></use>
          </svg>
          <span itemprop="author" class="p-author h-card">Michael Strutt</span>
        </li>
      </ul>
    </div>
    <h1 class="blog-post__title">{{title}}</h1>
    <div class="markdown">
      {{body}}
    </div>
  </div>
  <footer class="blog-post__footer">
    {{if(options.categories && options.categories.length)}}
      <p class="tags p-category">
        <svg class="tags__icon" height="22" width="22">
          <title>Tagged with</title>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tag"></use>
        </svg>
        {{each(options.categories)}}{{if(@index > 0)}}, {{/if}}<a class="tags__item" href="/blog/tags/{{@this}}/">{{@this}}</a>{{/each}}.
      </p>
    {{/if}}
  </footer>
</article>